:root {
  --base: hsl(0, 0%, 90%);
  --primary-text: hsl(210, 7%, 10%);
  --secondary: hsl(210, 5%, 30%);
}
.night {
  --base: hsl(210, 7%, 10%);
  --primary-text: hsl(0, 0%, 90%);
  --secondary: hsl(0, 0%, 75%);
}

body {
  background-color: var(--base);
  color: var(--primary-text);
  font: 1rem monospace;
}

dialog {
  border: 2px solid var(--primary-text);
  border-radius: 1rem;
  background-color: var(--base);
  color: var(--primary-text);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content max-content max-content;
  align-items:center;
}

button {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  outline: none;

  border-radius: 1rem;
  background-color: inherit;
  color: inherit;
  font-weight: bold;

  cursor: pointer
}

button:hover,
button:focus-visible {
  border-color: var(--primary-text);
}

button:active {
  background-color: var(--primary-text);
  color: var(--base);
}

header * {
  margin: 0.5rem 1rem;
}

header button{
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  padding: 0;
  font-size: 1.5rem;
}

#toolbar {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns:  max-content;
  justify-content: center;
  align-items: baseline;
}
