/* site color */

@media (prefers-color-scheme: light) {
  :root {
    --base: hsl(0, 0%, 95%);
    --near-base: hsl(0, 0%, 87%);
    --primary-text: hsl(210, 7%, 7%);
    --secondary: hsl(210, 5%, 25%);
  }

  .dark {
    --base: hsl(210, 7%, 10%);
    --near-base: hsl(210, 5%, 15%);
    --primary-text: hsl(0, 0%, 90%);
    --secondary: hsl(0, 0%, 75%);
  }

  #dark-mode-icon > :first-child,
  .dark #dark-mode-icon > :last-child {
    display: none;
  }
  #dark-mode-icon > :last-child,
  .dark #dark-mode-icon > :first-child {
    display: inline-block;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --base: hsl(210, 7%, 10%);
    --near-base: hsl(210, 5%, 15%);
    --primary-text: hsl(0, 0%, 90%);
    --secondary: hsl(0, 0%, 75%);
  }

  .dark {
    --base: hsl(0, 0%, 95%);
    --near-base: hsl(0, 0%, 87%);
    --primary-text: hsl(210, 7%, 7%);
    --secondary: hsl(210, 5%, 25%);
  }

  #dark-mode-icon > :first-child,
  .dark #dark-mode-icon > :last-child {
    display: inline-block;
  }
  #dark-mode-icon > :last-child,
  .dark #dark-mode-icon > :first-child {
    display: none;
  }
}

body {
  background-color: var(--base);
  color: var(--primary-text);
  font: 1rem monospace;
}

:disabled {
  color: gray;
  cursor: auto;
}

/* dialogs */

dialog {
  max-width: 70ch;
  min-width: 35ch;
  max-height: 80%;
  padding: 2rem;
  border: none;
  background-color: var(--near-base);
  color: var(--primary-text);
  font-size: 1rem;
}

dialog button {
  font-size: 1rem;
}

dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 50%);
}

.dialog-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

hr {
  border: 1px solid var(--primary-text);
}

fieldset {
  border: 1px solid var(--primary-text);
  background-color: var(--base);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: grid;
  grid-template-columns: max-content 1fr repeat(5, max-content);
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--near-base);
}

button {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  outline: none;
  align-items: center;

  border-radius: 1rem;
  background-color: var(--near-base);
  color: var(--primary-text);
  font-weight: bold;
  font-family: inherit;

  cursor: pointer;
}

button:hover:not(:disabled),
button:focus-visible {
  border-color: var(--primary-text);
}

button:active:not(:disabled) {
  background-color: var(--primary-text);
  color: var(--base);
}

header > button {
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  padding: 0;
  font-size: 1.5rem;
}

header > h1 {
  margin: 0;
  position: relative;
}

header > h1 > input {
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

header > h1 > input:focus {
  border-color: var(--primary-text);
}

span#save-status {
  display: inline-block;
  width: max-content;
  font-size: 1rem;
  cursor: default;
}

.hide-style {
  list-style: none;
  padding-inline-start: 0;
}

dl {
  padding-inline: 2.5rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1rem;
}

summary {
  margin-block: 1rem;
}

summary > h3 {
  display: inline;
  padding-left: 1rem;
}

.warning {
  display: block;
  padding: 0.5rem 2rem;
  margin: 1rem;

  
  font-weight: bold;
  text-align: center;
  border: 2px solid var(--primary-text);
  border-radius: 1rem;
}


/* icon animations */

svg {
  display: block;
  margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
  svg .trash-icon-lid {
    transition: rotate 0.2s ease;
    transform-origin: 50% 50%;
  }

  button#btn-trash:hover svg .trash-icon-lid {
    rotate: 20deg;
  }

  svg .settings-icon-wheel {
    transition: rotate 0.5s ease;
    transform-origin: 50% 50%;
  }

  button#btn-settings:hover svg .settings-icon-wheel {
    rotate: 90deg;
  }

  svg .download-icon-arrow {
    transition: translate 0.2s ease;
    translate: 0 -5%;
  }

  button#btn-download:hover svg .download-icon-arrow {
    translate: 0 10%;
  }
}

#toolbar {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 200;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: baseline;
}

#boards-list {
  position: fixed;
  background-color: var(--near-base);
  top: 56px;
  left: 0;
  z-index: 250;
  display: none;
  height: calc(100vh - 56px);
  overflow: auto;
  margin: 0;
  padding: 0 2rem;
}

#boards-list li {
  margin: 0.5rem 0;
}

#boards-list li:not(.permanent-list-item) button:hover, 
#boards-list li:not(.permanent-list-item) button:focus-visible {
  border-color: transparent;
  text-decoration: solid underline var(--primary-text) 2px;
}

#boards-list .list-icon {
  display: inline-block;
  width: 1em;
  text-align: center;
}

#trash-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-block: 0.25rem;
}

#trash-list li button:hover:last-child, 
#trash-list li button:focus-visible:last-child {
  border-color: red;
  background-color: red;
  color: white;
}