:root {
  --base: hsl(0, 0%, 90%);
  --primary-text: hsl(210, 7%, 10%);
  --secondary: hsl(210, 5%, 30%);
}

.night {
  --base: hsl(210, 7%, 10%);
  --primary-text: hsl(0, 0%, 90%);
  --secondary: hsl(0, 0%, 75%);
}
button#btn-dark-mode > :first-child,
.night button#btn-dark-mode > :last-child {
  display: block;
}
button#btn-dark-mode > :last-child,
.night button#btn-dark-mode > :first-child {
  display: none;
}

body {
  background-color: var(--base);
  color: var(--primary-text);
  font: 1rem monospace;
}

dialog {
  max-width: 70ch;
  max-height: 80%;
  padding: 2rem;
  border: 2px solid var(--primary-text);
  background-color: var(--base);
  color: var(--primary-text);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: grid;
  grid-template-columns: repeat(3, max-content) 1fr repeat(3, max-content);
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--base);
}

button {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  outline: none;

  border-radius: 1rem;
  background-color: var(--base);
  color: var(--primary-text);
  font-weight: bold;
  font-family: inherit;

  cursor: pointer
}

svg {
  display: block;
  margin: 0 auto;
}

button:hover,
button:focus-visible {
  border-color: var(--primary-text);
}

button:active {
  background-color: var(--primary-text);
  color: var(--base);
}

header > button {
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  padding: 0;
  font-size: 1.5rem;
}

header > h2 {
  margin: 0;
}

header > h2 > input {
  width: 18ch;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  background-color: inherit;
  color: inherit;
  font: inherit;
}

header > h2 > input:focus {
  border-color: var(--primary-text);
}

span#save-status {
  display: inline-block;
  width: max-content;
  font-size: 1rem;
}

#toolbar {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 200;
  display: grid;
  grid-template-columns:  max-content;
  justify-content: center;
  align-items: baseline;
}

#boards-list {
  position: fixed;
  background-color: var(--base);
  top: 56px;
  left: 0;
  z-index: 250;
  display: none;
  height: calc(100vh - 56px - 1rem);
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0 2rem 1rem;
  border-radius: 0 0 1rem 1rem;
}

#boards-list li {
  margin: 0.5rem 0;
}

#boards-list li:not(.permanent-list-item) button:hover, 
#boards-list li:not(.permanent-list-item) button:focus-visible {
  border-color: transparent;
  text-decoration: solid underline var(--primary-text) 2px;
}

#boards-list span.list-icon {
  display: inline-block;
  width: 1em;
  text-align: center;
}
