.note {
  position: absolute;
  padding: 0.75rem;
  background-color: lightblue;
  color: black;
  box-shadow: 0px 0px 4px 2px #0005;
}

.drag-grip {
  display: block;
  height: 2rem;
  background-color: cornflowerblue;
  cursor: grab;
}

.drag-grip:active {
  cursor: grabbing
}

.note ::placeholder {
  color: hsl(223, 45%, 35%);
}

.note.favorite {
  background-color: gold;
  z-index: 25;
}

.note.favorite .drag-grip {
  background-color: goldenrod;
}

.note.favorite ::placeholder {
  color: hsl(43, 70%, 30%);
}

.note div {
  width: max-content;
  height: 40px;
}

.note input,
.note button,
.note textarea {
  outline: none;
  border: none;
  background-color: transparent;
  color: black;
  font-weight: normal;
}
.note input:focus,
.note textarea:focus {
  text-decoration: dotted underline black;
}
.note button:hover,
.note button:focus-visible {
  text-decoration: solid underline black;
}
.note button:active {
  background-color: black;
  color: white;
}

.note input {
  width: 18rem;
  font-family: inherit;
  font-size: 1.25rem;
}

.note button {
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  padding: 0;
  border-radius: 50%;
  font-size: 1.5rem;
}

.note textarea {
  width: 100%;
  padding: 0;
  resize: none;
  font-size: 1rem;
}

.note:focus-within {
  z-index: 100;
}

.note:hover {
  z-index: 50;
}



